*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body, html{
    background: url(imagens/fundo4.jpg) center fixed;
    background-size: 100%;
    color: black;
   
}

/*inicio do cabecalho*/
header{
    
    width: 100%;
    margin: 0 auto;
    height: 170px;
    display: flex;
    font-size: 25px;
    
}

.nome{
    width: 25%;  
    height: 250px;
   
}

.nome img{
    width: 300px;
    padding-left: 80px;
}

.menu{
    width: 75%;
    padding-top: 90px;   
}

.menu ul li{
    float: right;
    text-decoration: none;
    list-style: none;
    padding: 0 25px; 
    margin-right: 50px;    
    margin-top: 10px;  

}

.menu li a{
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: overline;
    color: black;
    transition: 1.5s;
    
}

.menu li a:hover{
    background: black;
    color: white;
    text-decoration: none;
}

/*final do cabecalho*/

/*inicio do corpo home*/
section{
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    place-items: center;
   
}

.foto{
    width: 25%;

}

.foto img{
    border-radius: 200px 5px 200px 5px;
    border: 7px solid yellow;
    margin-left: 170px;
    position: center;
}

.texto{
    width: 50%;
    text-align: center;
    font-size: 25px;
    margin-left:120px;
}

button{
    color: white;
    font-size: 15px;
    background: black;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.5s;

}

button:hover{
    background: #299fce;
}



.redes{
    width: 4.5%;
    height: 100px;
    margin-bottom: 170px;
    margin-right: 200px;
}    

.redes ul li{
    list-style: none;
    padding: 20px 0;
    
}

/*final do corpo home*/

/*inicio do contato*/

.contato{
    width: 35%;
    height: 55%;
    margin:0 auto;
    margin-top: 60px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 25px;
    border: 4px solid #009de0;
}   

.caixa1{
    width: 75%;
    text-align: center;
    padding-top: 85px;
}

.caixa2{
    width: 15%;
    padding-right: 150px;
}

.caixa2 ul li{
    list-style: none;
}

/*final do contato*/

/*inicio do sobre*/
.sobre{
   
    width: 70%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.sobre1{
    
    width: 60%;
    font-size: 27px;
    color: black;
    padding-top: 50px;
    padding-left: 70px;

}

.sobre2{ 
    width: 40%;
    padding-left: 120px;
    border-radius: 25px;
}

.sobre2 img{
    border: 7px solid salmon;
    border-radius: 25px;
    margin-top: 50px;
}
/*final do sobre*/

/*inicio do portifolio*/

.quadro1{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 190px ;
    
}

.foto1{
    width: 19%;
    height: 250px;
}


.foto1:hover{
    width: 30%;
}

/*final do portifolio*/

/*começo das skills*/

.quadro{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 190px ;
    line-height: center;
}   

.foto10{
    width: 19%;
    height: 250px;
   
}

.foto11{
    width: 19%;
    height: 250px;
    padding-top: 57px;
}

.foto12{
    width: 19%;
    height: 250px;
    padding-top: 57px;
}

.foto13{
    width: 19%;
    height: 250px;
    padding-top: 20px;
}

.foto14{
    width: 19%;
    height: 250px;
    padding-top: 35px;
}

.foto15{
    width: 19%;
    height: 250px;
    padding-top: 35px;
}